p {
  margin: 0;
}
body {
  overflow: hidden;
}
/* header */
/* header {
  background-color: #4e4d64;
  position: sticky;
  top: 0;
  z-index: 30;
}

header .inner-logo {
  width: 15%;
}

header .inner-logo a {
  font-weight: 700;
  font-size: 30px;
  margin-left: 20px;
}
header .inner-header-content {
  height: 60px;
  display: flex;
  align-items: center;
  color: #fff;
}

header .inner-nav {
  flex: 1;
  display: flex;
  justify-content: end;
}

header .inner-header-content a {
  color: white;
} */

.my-btn {
  padding: 10px;
  border-radius: 9px;
  background: #615ef0;
  color: white;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  border: none;
}

.my-btn:hover {
  text-decoration: none;
  color: white;
  background: #8280f1;
}

/* main  */

.main {
  width: 100%;
  display: flex;
  min-height: 100vh;
}

/* sider */

.main .sider-container {
  width: 71px;
  box-shadow: rgb(183 186 190 / 48%) 7px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.main .sider {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}
.main .sider-container:hover {
  width: 236px;
  transition: all 0.3s ease-in-out;
}

.main .sider .inner-nav-sider .inner-desc-nav {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 600;
  visibility: hidden;
}

.main .sider-container:hover .inner-nav-sider .inner-desc-nav {
  opacity: 1;
  transition: all 0.4s ease-in-out;
  visibility: visible;
}

.main .sider .outler-logo {
  display: flex;
  justify-content: center;
}

.main .sider .inner-logo {
  background-color: #615ef0;
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.main .sider .inner-logo a {
  color: white;
  font-weight: 700;
  font-size: 21px;
}
.main .sider .inner-logo a:hover {
  text-decoration: none;
}

.main .sider .inner-nav-sider {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding-left: 11px;
  margin-top: 48px;
}
.main .sider .inner-nav-sider a {
  color: rgba(0, 0, 0, 0.6);
  display: inline-flex;
  position: relative;
  font-size: 19px;
  padding: 10px;
  white-space: nowrap;
  gap: 20px;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.main .sider .inner-nav-sider a:hover {
  text-decoration: none;
  color: #615ef0;
  transition: all 0.3s ease-in-out;
}

.main .sider .inner-nav-sider a i {
  font-size: 19px;
}

.main .sider .inner-nav-sider a.active {
  color: #615ef0;
}

/* .main .sider .inner-nav-sider a:hover {
  background: #323232;
} */

[data-accept-length],
[data-request-length] {
  font-size: 10px;
  position: absolute;
  top: 3px;
  left: 15px;
}

/* content */

.main .inner-content-main {
  flex: 1;
  margin-left: 89px;
}

.main .inner-content-main:has(.create-room) {
  padding: 20px;
}

/* alert */
.alert-custom {
  position: fixed;
  right: 20px;
  top: 70px;
  z-index: 9999;
}

.alert-hidden {
  animation-name: hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes hidden {
  form {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

.hidden {
  display: none;
}

/* auth */
.auth {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
}

/* chat */
.chat {
  height: 100%;
  display: flex;
  overflow: hidden;
  max-height: 100vh;
}

/* list room */
.chat .inner-list {
  border-right: 2px solid #f0ecec;
  width: 100%;
}

.chat .inner-list .inner-content {
  padding: 10px;
}

.chat .inner-list.collapsed {
  width: 349px;
}

.chat .inner-list .inner-header {
  padding: 27px;
  border-bottom: 2px solid #f0ecec;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat .inner-list .inner-header .inner-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chat .inner-list .inner-header .inner-right i {
  font-size: 20px;
  color: #8e8e8e;
  cursor: pointer;
}

.chat .inner-list .inner-header .inner-length-notitfy {
  font-size: 12px;
  padding: 0 5px;
  border-radius: 5px;
  background: #ddd;
  font-weight: 600;
}

.chat .inner-list .inner-header .inner-title {
  font-size: 20px;
  font-weight: 600;
}

.chat .inner-list .inner-list-room {
  padding: 20px 10px 80px 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.chat .inner-list .inner-list-room .item-room .item-info {
  display: flex;
  gap: 8px;
}

.chat .inner-list .inner-list-room .item-room.active {
  background-color: #f5f5fd;
}
.chat .inner-list .inner-list-room .item-room {
  display: flex;
  padding: 21px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: black;
  border-radius: 5px;
  transition: all 0.5s;
}

.chat .inner-list .inner-list-room .item-room:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-decoration: none;
}
.chat .inner-list .inner-list-room .item-room .inner-image {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 11px;
}

.chat .inner-list .inner-list-room .item-room .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat .inner-list .inner-list-room .item-room .inner-title {
  font-weight: 700;
}

.chat .inner-list .inner-list-room .item-room .inner-time {
  font-size: 13px;
  font-weight: 600;
  color: #bababa;
}

.chat .inner-list .inner-list-room .item-room .inner-status {
  font-size: 14px;
  color: #bababa;
}

/* end list room */

/* list message */

.chat .inner-info {
  border-bottom: 2px solid #f0ecec;
  padding: 15px;
}

.chat .inner-info .inner-info-room {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat .inner-info .inner-info-room .inner-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.chat .inner-info .inner-info-room .inner-left .inner-title {
  font-size: 20px;
  font-weight: 700;
}

.chat .inner-info .inner-info-room .inner-left .inner-status {
  font-size: 14px;
  color: #bababa;
}

.chat .inner-info .inner-info-room .inner-right {
  cursor: pointer;
}

.chat .inner-info .inner-info-room .inner-right i {
  font-size: 20px;
  color: #8e8e8e;
}

.chat .inner-info .inner-info-room .inner-image {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 11px;
}

.chat .inner-info .inner-info-room .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* body */
.chat .inner-content-body {
  max-height: 100vh;
  flex: 1;
  display: none;
  border-right: 2px solid #f0ecec;
}

.chat .inner-content-body.collapsed {
  display: flex;
  flex-direction: column;
}

.chat .outler-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
}

.chat .inner-body {
  padding: 10px 20px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
}

.chat .send-container {
  width: 100%;
  padding: 10px;
}
.chat .form-send-message {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.chat .form-send-message .input-message {
  padding: 11px;
  width: 100%;
  border: 2px solid #ebeaea;
  border-radius: 13px;
  /* background-color: #f9f9f9; */
  padding-left: 16px;
  outline: none;
}

.chat .form-send-message button {
  padding: 6px 14px;
  border-radius: 15px;
  border: none;
  background: #ff8ea2;
  color: white;
}

.chat .inner-outgoing {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.chat .inner-images {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin-top: 10px;
  gap: 2px;
}

.chat .inner-outgoing .inner-images {
  justify-content: end;
}

.chat .inner-incoming .inner-images {
  justify-content: start;
}
.chat .inner-body img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.chat .inner-outgoing .inner-content {
  background-color: #ff8ea2;
  display: inline-block;
  border-radius: 18px;
  color: white;
  font-weight: 600;
  max-width: 100%;
  padding: 10px;
  max-width: 60%;
  line-break: anywhere;
}

.chat .inner-incoming {
  text-align: left;
  max-width: 60%;
}

.chat .inner-incoming .inner-content {
  background-color: #efefef;
  display: inline-block;
  border-radius: 18px;
  font-weight: 600;
  padding: 10px;
  max-width: 100%;
  line-break: anywhere;
}

.chat .inner-incoming .inner-name {
  margin-left: 7px;
  font-weight: 700;
  font-size: 17px;
}

.chat .btn-icon,
.picker-images {
  font-size: 22px;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 14px;
  margin: 0;
}

.chat .picker-images:hover,
.btn-icon:hover {
  background: #ddd;
}

/* list user */

.chat .inner-detail-room {
  width: 100%;
  max-width: 300px;
}

.chat .inner-detail-room .inner-header {
  padding: 27px;
  border-bottom: 2px solid #f0ecec;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat .inner-detail-room .inner-header .inner-title {
  font-size: 20px;
  font-weight: 600;
}

.chat .inner-detail-room .inner-list {
  padding: 10px;
}

.chat .inner-detail-room .inner-list .inner-title-list {
  font-size: 15px;
  font-weight: 600;
}

.chat .inner-detail-room .inner-list .inner-length-member {
  font-size: 12px;
  padding: 1px 4px;
  background: #e1e1e1;
  border-radius: 7px;
  margin-left: 2px;
}

.chat .inner-detail-room .inner-list .inner-body-list {
  margin-top: 10px;
  max-height: 360px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
}

.chat .inner-detail-room .inner-list .inner-body-list .inner-image {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 11px;
}

.chat .inner-detail-room .inner-list .inner-body-list .item-user {
  display: flex;
  padding: 8px;
  align-items: center;
  cursor: pointer;
  color: black;
  border-radius: 5px;
  gap: 8px;
}

.chat .inner-detail-room .inner-list .inner-body-list .item-user:hover {
  text-decoration: none;
}

.chat .inner-detail-room .inner-list .inner-body-list .item-user .inner-title {
  font-size: 16px;
  font-weight: 600;
}

.chat .inner-detail-room .inner-list .inner-body-list .item-user .inner-status {
  font-size: 13px;
  color: #bababa;
}

.chat .inner-detail-room .inner-list .inner-body-list .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* emoji */
.tooltip {
  visibility: hidden;
}

.tooltip.shown {
  visibility: visible;
  opacity: 1;
}

/* typing */
.inner-list-typing {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inner-list-typing .box-typing {
  display: inline-block;
}

.inner-list-typing .inner-dots {
  display: inline-flex;
  background: #ddd;
  padding: 7px 15px;
  border-radius: 5px;
  gap: 5px;
}
.inner-list-typing .inner-dots span {
  animation: blink 1.5s infinite;
  width: 5px;
  height: 5px;
  display: inline-block;
  background-color: #000;
}

.inner-list-typing .inner-name {
  font-size: 14px;
}

.inner-list-typing .inner-dots span:nth-child(1) {
  animation-delay: 0.2s;
}
.inner-list-typing .inner-dots span:nth-child(2) {
  animation-delay: 0.3s;
}
.inner-list-typing .inner-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

/* list message */

/* images preview multiple */
.custom-file-container {
  height: auto;
  background: #ddd;
  width: 100%;
}

.custom-file-container .inner-content-upload {
  gap: 10px;
  flex-wrap: wrap;
  padding: 15px;
  display: none;
}

.custom-file-container .inner-content-upload.shown {
  display: flex;
}

.custom-file-container .inner-content-upload .inner-item {
  width: 80px;
  height: 80px;
  background-size: contain;
  position: relative;
}

.custom-file-container .inner-content-upload .inner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-file-container .inner-content-upload .inner-item .btn-delete-item {
  position: absolute;
  top: -7px;
  left: -6px;
  width: 23px;
  height: 22px;
  font-size: 12px;
  border: none;
  border-radius: 50%;
}

/* users */

.list-user-not-friend,
.list-user-accept,
.list-user-request,
.list-user-friend {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.box-user {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  width: 237px;
}

.list-user-not-friend .box-user .inner-img,
.list-user-accept .box-user .inner-img,
.list-user-request .box-user .inner-img,
.list-user-friend .box-user .inner-img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.box-user .inner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-user .inner-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.box-user .list-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

/* not-friend */
.list-user-not-friend .box-user [btn-cancel-request],
.list-user-not-friend .box-user [btn-refuse-friend],
.list-user-not-friend .box-user [btn-accept-friend],
.list-user-not-friend .box-user [btn-refused-friend],
.list-user-not-friend .box-user [btn-accepted-friend] {
  display: none;
}

.list-user-not-friend .box-user.add [btn-cancel-request] {
  display: inline-block;
}

.list-user-not-friend .box-user.add [btn-request-friend],
.list-user-not-friend .box-user.receive [btn-request-friend] {
  display: none;
}

.list-user-not-friend .box-user.receive [btn-refuse-friend],
.list-user-not-friend .box-user.receive [btn-accept-friend] {
  display: inline-block;
}

.list-user-not-friend .box-user.accept [btn-accepted-friend] {
  display: inline-block;
}
.list-user-not-friend .box-user.accept [btn-refuse-friend],
.list-user-not-friend .box-user.accept [btn-accept-friend],
.list-user-not-friend .box-user.accept [btn-request-friend] {
  display: none;
}
.list-user-not-friend .box-user.refuse [btn-refused-friend] {
  display: inline-block;
}

.list-user-not-friend .box-user.refuse [btn-refuse-friend],
.list-user-not-friend .box-user.refuse [btn-accept-friend],
.list-user-not-friend .box-user.refuse [btn-request-friend] {
  display: none;
}

/* request */

.list-user-request .box-user [btn-cancel-request] {
  display: none;
}

.list-user-request .box-user.add [btn-cancel-request] {
  display: inline-block;
}

.list-user-request .box-user [btn-refused-friend],
.list-user-request .box-user [btn-accepted-friend],
.list-user-request .box-user [btn-canceled-friend] {
  display: none;
}

.list-user-request .box-user.cancel [btn-canceled-friend] {
  display: inline-block;
}

.list-user-request .box-user.refuse [btn-refused-friend] {
  display: inline-block;
}

.list-user-request .box-user.accept [btn-accepted-friend] {
  display: inline-block;
}

/* accept */
.list-user-accept .box-user [btn-refused-friend],
.list-user-accept .box-user [btn-accepted-friend],
.list-user-accept .box-user [btn-canceled-friend],
.list-user-accept .box-user.accept [btn-refuse-friend],
.list-user-accept .box-user.accept [btn-accept-friend],
.list-user-accept .box-user.cancel [btn-accept-friend],
.list-user-accept .box-user.cancel [btn-refuse-friend] {
  display: none;
}

.list-user-accept .box-user.accept [btn-accepted-friend] {
  display: inline-block;
}

.list-user-accept .box-user.refuse [btn-refused-friend] {
  display: inline-block;
}
.list-user-accept .box-user.refuse [btn-refuse-friend] {
  display: none;
}

.list-user-accept .box-user.refuse [btn-accept-friend] {
  display: none;
}

.list-user-accept .box-user.cancel [btn-canceled-friend] {
  display: inline-block;
}

/* status user */
.list-user-friend .box-user {
  position: relative;
}

.list-user-friend .box-user [btn-deleted-friend] {
  display: none;
}

.list-user-friend .box-user.delete [btn-deleted-friend] {
  display: inline-block;
}

.list-user-friend .box-user.delete [btn-delete-friend],
.list-user-friend .box-user.delete [btn-chat-friend] {
  display: none;
}

.list-user-friend .box-user i {
  position: absolute;
  top: 8px;
  right: 9px;
  font-size: 10px;
  color: green;
  opacity: 0;
}

.list-user-friend .box-user .status-user[data-statusOnline="online"] i {
  opacity: 1;
}

.list-user-friend .box-user.delete .status-user[data-statusOnline="online"] i {
  opacity: 0;
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

/* create room */
.create-room .inner-img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.create-room .box-user .inner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
